@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: auto;
}


@layer utilities {
  .animate-scanline {
    background: linear-gradient(to bottom,
        transparent 50%,
        rgba(56, 189, 248, 0.5) 51%,
        transparent 52%);
    background-size: 100% 200%;
    animation: scanline 3s linear infinite;
  }

  .glitch-hover:hover {
    animation: glitch 0.3s cubic-bezier(.25, .46, .45, .94) both infinite;
  }
}

@keyframes scanline {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

@keyframes glitch {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  100% {
    transform: translate(0)
  }
}